/* ---------- Header ------------- */
.title {
    font-size: 50px;
}

/* ---------- Footer ------------- */

::placeholder {
    color: white !important;
}

.subscribe {
    padding-bottom: 0;
}

/* ---------- Gameboard ------------- */


.gametile {
            height: 200px;
            border: #FFF 1px solid;
}
        
.flipimage {
            width: 100%;
            height: 100%;
            overflow: hidden;
}

        
#gamecontrol {
            /*display:none;*/
}
        
.gametile {
            padding:0 !important;
            margin: 0 !important;
}
        

   